<!DOCTYPE html>
<html>
<head>

    <title><%= title %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" 
    integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
   
</head>
<body>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn/bootstrap/4.0.0/css/bootstrap.min.css" />
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" >Calculardora de peso</a>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                </div>
              </nav>
    
</body>
</html>